$backgroundColor: #070d41;
$color: white;
$color1: #868aaf;
$color2: #d562ae;
$color2-dark: darken($color2, 20%);
$color2-darker: darken($color2, 40%);
$color3: #1140fc;
$color4:#111921;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#player {
   height: 100vh;
   background: $backgroundColor;
   overflow: hidden;

   .header {
      height: 100px;
      text-align: center;

      h1 {
         color: $color;
         font-size: 20px;
         padding-top: 20px;
         font-weight: normal;
      }

      p {
         color: $color1;
         font-size: 12px;
      }

      .balls {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 20px;

         span {
            display: block;
            width: 5px;
            height: 5px;
            background: $color2-darker;
            border-radius: 50%;
            margin: 0 5px;

            &.current {
               width: 8px;
               height: 8px;
               background: $color2;
            }
         }
      }
   }

   .panels {
      width: 200vw;
      height: calc(100vh - 270px);
      display: flex;

      &.panel1 {
         transform: translateX(0vw);
         transition: transform 0.3s;
      }

      &.panel2 {
         transform: translateX(-100vw);
         transition: transform 0.3s;
      }

      .panel-effect {
         width: 100vw;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         .effect {
            position: relative;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;

            > div {
               background-size: contain;
               position: absolute;
            }

            .effect-1 {
               background: url("../svg/effect-no-move.svg") 0 0 no-repeat;
               width: 66vw;
               height: 66vw;
               animation: rotate 20s linear infinite;
            }

            .effect-2 {
               background: url("../svg/effect-move1.svg") 0 0 no-repeat;
               width: 60vw;
               height: 60vw;
               animation: rotate 10s linear infinite reverse;
            }

            .effect-3 {
               background: url("../svg/effect-move2.svg") 0 0 no-repeat;
               width: 25vw;
               height: 25vw;
               animation: rotate 10s linear infinite;
            }
         }

         .lyrics {
            text-align: center;

            p {
               font-size: 13px;
               color: $color1;
               margin-top: 8px;

               &.current {
                  color: $color;
               }
            }
         }

      }

      .panel-lyrics {
         width: 100vw;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         line-height: 2;
         overflow: hidden;
         .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
               margin: 0 5px;
               font-size: 14px;
               color: $color1;

               &.current {
                  color: $color;
               }
            }
         }

      }
   }

   .footer {
      height: 170px;

      .buttons {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-left: 30px;
         margin-right: 30px;

         svg {
            margin: 0 14px;
            width: 24px;
            height: 24px;
         }
      }

      .area-bar {
         font-size: 12px;
         color: $color1;
         display: flex;
         align-items: center;
         padding: 10px 20px;
         margin-top: 15px;

         .bar {
            flex-grow: 1;
            background: $color3;
            height: 4px;
            margin: 0 10px;
            border-radius: 2px;

            .progress {
               width: 0;
               height: 100%;
               border-radius: 2px;
               position: relative;
               background: $color2;

               .progress-ball {
                  content: '';
                  display: block;
                  position: absolute;
                  right: -7px;
                  top: -7px;
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                  background: url("../svg/progress.svg") 0 0 no-repeat;
                  background-size: contain;
               }
            }
         }
      }

      .actions {
         margin-top: 20px;
         padding: 0 20px;
         display: flex;
         justify-content: space-between;
         align-items: center;

         svg {
            height: 28px;
            width: 28px;

            &.btn-play-pause {
               height: 50px;
               width: 50px;
            }
         }
      }
   }

   .songList{
      z-index: 3;
      border-radius: 20px;
      position: absolute;
      padding: 10px 10px;
      background: $color;
      min-width: 90vw;
      min-height: 400px;
      bottom: 20px;
      left: 50%;
      margin-left: -45vw;
      display: none;
      .selectOptions{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 8px 0;
      }
      .playLists{
         margin-top: 20px;
         li{
            margin-bottom: 10px;
         }
      }
   }

   .coverBackground{
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: $color4;
      filter: opacity(80%);
      opacity: 0.7;
      display: none;
   }
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}